html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
 overflow: hidden;
}

dialog { 
  text-align: center; 
}

canvas.fullscreen { 
  width: 100vw; 
  height: 100vh; 
}

div {
  display: inline-block;
  position: fixed;
  top:0px;
  right:0px;
  background-color: #ffffff80;
}

fudge-stepper {
  display: block;
}