body {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  margin: 0;
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  color: #fff;
  background-color: #000;
  overscroll-behavior: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
}

.control-element {
  width: 100%;
  margin-top: 10px;
}

input {
  width: calc(100% - 80px - 50px - 5px - 5px);
}

.label {
  display: inline-block;
  position: relative;
  top: -3px;
  width: 80px;
  margin-right: 5px;
  text-align: right;
}

.button {
  display: inline-block;
  width: 50px;
  margin-right: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
}

.button.disabled {
  opacity: 0.25;
}

.button:hover {
  background: #333;
}

.button:active {
  color: #000;
  background: #fff;
}
